
/*:root { 
}*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x:hidden;
}

/*Typography*/

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
}

body {
  font-family: cursive, Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-accent);
  margin-bottom: 1rem; /*margem entre texto e titulo*/
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

::selection {
  background-color: #F04065;
}

/*Links*/
a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2.4rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
}

/*input*/
.input{
  display: flex;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 3px lightgrey;
  margin: 5rem 20vw 5rem 20vw;
}

.input input{
  width: 100%;
  border-radius: 30px;
  padding: 1.5rem;
  border: none;
}

.input button {
  padding: 1.5rem;
  border-radius: 30px;
  border: none;
  background-color: #EF2D56;
  color: white;
  cursor: pointer;
}

textarea:focus, input:focus{
  outline: none;
}

/*Search*/
.search { 
  text-align: center;
}

.search h1{ 
  color: #EF2D56;
}

.images-grid{
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 20vw;
  gap: 1rem;
}

.images-grid img{
  box-shadow: 0px 0px 10px 3px lightgrey;
  border-radius: 20px;
  cursor: pointer;
  max-width: 40vw;
}

@media screen and (min-width: 1024px) {
  .images-grid img{
    max-width: 20vw;
  }
}

/*Pagination*/
.pagination{
  display: flex;
  justify-content: center;
  color: #EF2D56;
  text-align: center;
}

.pagination span{
  background-color: #EF2D56;
  color: white;
  margin: 1rem 1rem;
  padding: 0 1.5rem;
  border-radius: 5px;
}

.pagination i{
  font-size: 4rem;
  margin: 0 1rem;
}

.selected{
  background-color: #990726!important;
}

.blocked{
  display: none;
}

/*Full Image*/
.full-image{
  background:rgb(1,2,3,0.9);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.full-image i{
  cursor: pointer;
  color: #EF2D56;
  font-size: 4rem;
}

.full-image a{
  display: block;
  cursor: pointer;
  color: #EF2D56;
  font-size: 4rem;
  margin: 3rem;
  max-width: 80vw;
}
.full-image img{
  max-width: 80vw;
}